.container{
    border: solid white 1px;
    height: 500px;
    width: 400px;
    margin: 0 2rem;
    

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.bigcard-photo > img {
    margin-bottom: 1rem;
    width: 100%;
    min-width: 400px;
}
.bigcard-title > h1{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.bigcard-description > p{
    color: grey;
}