<div class="container">
    <div class="bigcard-photo">
        <img src="https://fakeimg.pl/600x400" alt="imagem principal"
        >
    </div>
    <div class="bigcard-title">
        <h1>Como aprender Angular em 2023</h1>
    </div>
    <div class="bigcard-description">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate officiis omnis vitae corrupti fuga molestias inventore doloribus nam culpa? Nostrum error et delectus eos ea commodi aspernatur ut doloremque quibusdam!</p>

    </div>
</div>
