.container{
    height: 520px;
    width: 600px;
    margin: 0 2rem;
    
    display: flex;
    flex-direction: column;
}
.bigcard-photo > img {
    margin-bottom: 0.5rem;
    width: 100%;
    min-width: 400px;
}
.bigcard-title > h1{
    font-size: 1.2rem;
    margin-bottom: .2rem;
}
.bigcard-description > p{
    color: grey;
}