
    <div class="container">

            <div class="small-cardphoto">
                <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="imagem de sub-titulo">
            </div>

            <div class="smallcard-description">
                    <h6 class="date">Setembro, 2023</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere, iusto porro mollitia impedit sapiente unde esse quis eaque? Atque quae rerum nostrum harum sit ab accusamus quis minus a! Ea.</p>
            </div>
    

    </div>